{% spaceless %}
    <a href="mailto:?subject={{ subject_mail }}&amp;body={{ body_mail }}"
       title="{{ share_mail_message }}">
        <div class="icon-wrap">
            <i class="fa fa-2x fa-envelope"></i> {{ share_mail_message }}
        </div>

    </a>
{% endspaceless %}